{
  "env": {
    "es": {
      "presets": [["@babel/env", { "modules": false }]],
      "plugins": [
        ["@babel/transform-react-jsx", { "pragma": "h" }]
      ]
    },

    "cjs": {
      "presets": ["@babel/env"],
      "plugins": [
        "add-module-exports",
        ["@babel/transform-react-jsx", { "pragma": "h" }]
      ]
    },

    "node": {
      "presets": [["@babel/env", { "targets": { "node": 6 } }]],
      "plugins": [
        "add-module-exports",
        ["@babel/transform-react-jsx", { "pragma": "h" }],
        ["module-resolver", {
          "alias": {
            "easy-tz": "easy-tz/cjs",
            "lowline": "lodash",
            "mini-qs": "querystring"
          }
        }]
      ]
    }
  }
}
